@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

input {
  border: none;
  outline: none;
}

.MainSearch {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MainSearch__Title {
  color: #6c757d;
  margin: 1rem;
  letter-spacing: 0.15rem;
  font-weight: 300;
  font-size: 1.2rem;
}
@media (min-width: 700px) {
  .MainSearch__Title {
    font-size: 2.4rem;
  }
}
.MainSearch__Bar {
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.19);
}
.MainSearch__Bar__icon {
  position: absolute;
  color: #6c757d;
  left: 20px;
}
.MainSearch__Bar button {
  outline: none;
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  border: none;
  background-color: #6c757d;
}
.MainSearch__Bar input {
  width: 80vw;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1.2rem;
  padding: 0.7rem 3.5rem;
  border-radius: 20px;
  color: #6c757d;
}
@media (min-width: 700px) {
  .MainSearch__Bar input {
    width: 40vw;
  }
}
.MainSearch::placeholder {
  color: #6c757d;
}
/*************** SPINNER **************/
.Spinner {
  width: 100vw;
  height: 100vh;
}
.Spinner__Title {
  color: white;
  font-weight: 300;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/************************************ DASHBOARD *************************************/
.Dashboard {
  max-width: 1080px;
  margin: 5vw auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.Dashboard__form {
  background-color: white;
  display: flex;
  align-items: center;
}
.Dashboard__form__logo {
  color: #f3bcec;
}
.Dashboard__input {
  background-color: transparent;
  border: none;
  color: #495057;
}
.Dashboard__input:focus {
  color: #495057;
  background-color: transparent;
  border-color: none;
  border: none;
  box-shadow: none;
}
.Dashboard__stats {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.Dashboard__stats__image {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
@media (min-width: 414px) {
  .Dashboard__stats__image {
    margin-right: 2rem;
  }
}
.Dashboard__stats__description {
  flex: 8;
}
.Dashboard__avatar {
  height: 5rem;
}
@media (min-width: 414px) {
  .Dashboard__avatar {
    height: 7rem;
  }
}
@media (min-width: 768px) {
  .Dashboard__avatar {
    height: 10rem;
  }
}
.Dashboard__graphs {
  background-color: #f4f8fd;
}
.Dashboard__card {
  border-radius: 5px;
  background-color: white;
}
.Card {
  border-radius: 5px;
  background-color: white;
}
.Card__iconWrapper {
  height: 35px;
  width: 35px;
  border-radius: 50px;
}
.Card__number {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .Card__number {
    font-size: 2.5rem;
  }
}
.Card__text {
  margin-bottom: 0;
}

.margin-r {
  margin-right: 1rem;
}

.fill-white {
  fill: #fff !important;
}

.checkout {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}



@media (max-width: 656px) {
  .checkout {
    flex-direction: column;
  }
}




.settings__card {
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 3px #00000040;
  background: #ffffff;
  display: flex;
  gap: 1rem;
  /* align-items: center; */
  align-items: center;
  

  cursor: pointer;
  height: 80px;
  transition: all .3s ease-in,border .1s ease-in;
}

.settings__card p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.selected {
  border-width: 4px;
    border-style: solid;
    height: 200px;
    overflow: hidden;
    padding: 1rem;
}